body{
  background-color:#222;
}

.container{
  width:100%;
  height:100vh;
  display: inline-flex;
}

.text{
  margin: 0.5rem;
  padding: 0.4rem;
  width: 100% ;
  border-radius: 2px;
}

iframe{
  margin: 0.5rem;
  padding: 0.1rem;
  width: 100% ;
  background-color: #fff;
  border: none;
  border-radius: 2px;
}